<div class="portfolio-modal modal fade" id="modal-id" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2 class="modal-projectHeading">Project Heading</h2>
                        <p class="modal-intro item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                        <img class="modal-img img-responsive img-centered" src="img/portfolio/startup-framework-preview.png" alt="">
                        <div class="modal-body">
                        </div>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>